
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
  font-family: "Outfit", sans-serif;
}

h1, h2, h3, .font-heading {
  font-family: var(--font-heading), sans-serif;
  font-weight: 700;
}

@layer utilities {
  .animate-shimmer {
    animation: shimmer 1.5s infinite;
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}