
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", sans-serif;
}

h1, .font-heading {
  font-family: var(--font-bricolage), sans-serif;
  font-weight: 700;
}